@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
  --white: #F2F2F2;
  --black: #0B0B0B;
  --primary: #4400FF;
  --primary-50: #4400FF88;
  --secondary: #5739AA;
  --secondary-50: #5739AA8E;
  --secondary-25: #5739AA49;
  --terciary: #408069;
  --accent: #FFEA00;
  --accent-50: #FFEA007A;

  --error: #FF3100;
  --info: #00A4FF;
  --success: #23C78C;
  --success-50: #23C78B8C;
  --warning: #FFCB00;
  --warning-50: #FFCC0085;

  --background: #1A2A3A;
  --text-white: var(--white);
  --text-black: var(--black);
}

.title-font {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.body-font {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body {
  background-color: var(--background);
  color: var(--text-white);
  font-size: 1.05rem;
}

.primary-button {
  background-color: var(--primary) !important;
}
